.content-title {
    margin: 20px 0;
}

.content-title h2 {
    font-size: 30px;
}

.content-title h3 {
    font-size: 24px;
}

/* Content Resumen */
.container-R {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    padding: 0 20px;
    box-sizing: border-box;
}

.container-R-box {
    margin-bottom: 30px;
}

.container-R h3 {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 20px;
    color: #fff;
    text-transform: uppercase;
}

.container-R-card-wrapper {
    margin-bottom: 20px;
    display: flex;
    display: inline-block;
}

.video-container {
    width: 400px;
    max-width: 600px;
    height: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    background-color: #fff;
    margin-bottom: 20px;
}

.video-container iframe {
    width: 100%;
    height: 100%;
}

.video-title {
    text-align: center;
    font-size: 1.1em;
    color: #fff;
}

/* Media queries para dispositivos móviles */
@media (max-width: 768px) {
    .video-container {
        width: 100%;
        max-width: 100%; /* Asegura que el video ocupe todo el ancho disponible */
        height: auto; /* Ajusta la altura automáticamente */
    }
}